<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mechanica</string>
	<key>contactEmailRot13</key>
  <string>ralxrri@tznvy.pbz</string>
  <key>contactName</key>
  <string>Kirill Enykeev</string>
  <key>description</key>
  <string><a href="http://mech.sh/">Mechanica</a> is the simplified shell for web developers.</string>
	<key>uuid</key>
	<string>9D0F2386-ACDC-4402-B655-364FB622598C</string>
</dict>
</plist>
